.signForm{
    background-color: black;
    width: 80%;
    top: 20px;
    border-radius: 10px;
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    display: flex;
}

.main-title{
    padding: 8px 0;
    text-decoration: underline;
}
.myInfo{
    width: 40%;
    margin: auto;
}
.myInfo input{
    background-color: rgb(214, 197, 197);
    border: none;
}

.signupBtn{
    border-radius: 10px;
    background-color: rgb(42, 1, 80);
    border: none;
    box-shadow: 1px 1px 5px rgb(42, 1, 80);
}