body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
}

.image img {
    width: 100%;
    height: 700px;
    /* position: relative;  */
    /* top: 120px; */

}

.quote {
    color: beige;
    font-size: 20px;
    position: absolute;
    top: 250px;
    left: 6rem;
}

h2:hover {
    cursor: pointer;
}

/* Enroll css */

.enroll {
    /* text-align: center; */
    font-size: 2rem;
    background-color: lightgray;

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-title {
    margin: 0 108px;
    text-decoration: underline;
    font-weight: bold;
}

.modal-body {
    font-size: 1.2rem;
}

.modal-content {
    font-weight: bold;
}

.enroll marquee {
    padding-top: 11px;
}

.info {
    font-size: 33px;
    background-color: bisque;
}

/* Review form */
.reviewForm {
    width: 50%;
    float: left;
}
.reviewBtn {
    width: 6rem;
    background-color: #2d4777;
    margin-right: 7px;
}
.reviewCard {
    float: left;
}
.cards {
    overflow: hidden;
    text-overflow: ellipsis;
}
.moreLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16rem;
    background-color: lavender;
}

/* Contact form details  */
.contactForm {
    width: 50%;
    float: left;
    margin: 40px 0;
}

.contactForm div input {
    width: 100%;
    outline: none;
    border-radius: 0px;
    border: none;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
    font-size: 20px;
}

.contactForm div button {
    width: 100%;
    background-color: black;
    color: white;
    height: 4rem;
    border-radius: 0px;
    border: none;
    border-bottom: 2px solid black;
    /* margin-bottom: 30px; */
    font-size: 20px;
    text-align: justify;
}

.detailFrom {
    width: 40%;
    float: right;
    margin: 47px 15px;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.detailFrom p {
    font-size: medium;
}

.detailFrom .companyEmail {
    color: black;
    text-decoration: none;
    font-size: 1.1rem;
}

.disclaimer {
    clear: both;
    font-size: 0.8rem;
    text-align: justify;
}

/* login & signup css */
.signForm {
    background-color: black;
    width: 80%;
    top: 20px;
    border-radius: 10px;
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    display: flex;
}

.image-controller {
    width: 50%;
    height: 100%;
}

.main-title {
    padding: 0.5rem 0;
    text-decoration: underline;
}

.myInfo {
    width: 40%;
    margin: auto;
}

.myInfo input {
    background-color: rgb(214, 197, 197);
    border: none;
}

.signupBtn {
    border-radius: 10px;
    background-color: rgb(42, 1, 80);
    border: none;
    box-shadow: 1px 1px 5px rgb(42, 1, 80);
}

.benefit h1 {
    text-decoration: underline;
    text-decoration-color: blueviolet;
    font-size: 3rem;
}

/* Admin Panel css */

.title {
    text-align: center;
    margin: 1rem;
    border: 2px solid black;
    border-radius: 29px;
    padding: 0.5rem;
    background-color: transparent;
}

.menu-items {
    list-style: none;
}

.items {
    text-decoration: none;
    color: black;
    border-bottom: 2px solid black;
    margin: 4px 2px;
}


/* ADMIN Table */
.layout{
    display: flex;
    position: absolute;
    margin-top: 5rem;
}
.users-info{
    margin: 35px 96px;
}

.adminTitle {
    text-decoration: underline;
}
.information{
    margin: auto;
}

.table-content {
    border-collapse: collapse;
    font-size: 1.2rem;
    padding: 7px;
    margin: 15px auto;
    border-radius: 9px;
    overflow: hidden;
    text-align: center;
    box-shadow: 1px 1px 5px black;
    font-weight: 200;
    cursor: pointer;
    width: 80%;
}

.table-content thead tr {
    background-color: darkcyan;
    color: whitesmoke;
    font-size: 1.4rem;
    text-decoration: underline;
}

.table-content th,
.table-content td {
    padding: 10px 12px;
}

.table-content tbody tr {
    border-bottom: 1px solid grey;
}

.table-content tbody tr:nth-child(even) {
    background-color: beige;
    color: darkcyan;
}

.table-content tbody tr:last-child {
    border-bottom: 3px solid darkcyan;

}

.notes {
    text-align: left;
}

.admin-btn {
    width: 80%;
    border-radius: 15px;
    background-color: rgb(173, 212, 236);
    border: none;
    box-shadow: 1px 1px 4px rgb(48, 30, 65);
}

.admin-btn:hover {
    background-color: rgb(93, 178, 231);
}
.links{
    color: black;
    text-decoration: none;
}
.UpdateForm {
    width: 40%;
    border: 1px solid black;
    border-radius: 1.2rem;
    font-weight: bold;
    font-size: 1.3rem;
    padding: 1.5rem;
    margin: 1rem auto;
    box-shadow: 1px 0 5px black;
}

/* Responsive */

@media (max-width: 1160px) {
    .signForm {
        display: flex;
        flex-direction: column;
    }

    .image-controller {
        margin: auto;
    }

    .image-controller img {
        width: 100%;
        height: 100%;
    }
}

@media (max-width:780px) {

    /* enroll */
    .myInfo {
        width: 65%;
        font-size: .8rem;
    }

    .enroll {
        font-size: 1rem;
    }

    /* review Card */
    .reviewCard {
        margin: 30px 58px;
    }

    /* contact from */
    .contactForm {
        width: 100%;
        margin: 10px 0 30px 0;
    }

    .detailFrom {
        width: 100%;
        margin: 0 0 30px 0;
    }
}